
nav {
    background-color: DarkSalmon;
}
nav ul {
  list-style: none;
  height: 30px;
  width: 11%;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.headersCard {
  border: 1px solid black;
  margin: 10px;
  width: 400px;

}
.headersImg{
  width: 400px;
}
.ulContainer {
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
}
.articlesImg {
  width: 250px;
  display: block;
  float: right;
}
.articlesCard {
  border: 2px solid black;
  margin-bottom: 5px;
  display: flex;
  width: 900px;
  margin-left: 180px;
}
